__pycache__
*.py[cod]
*.egg-info
.venv
.env
.git
.gitignore
**/.DS_Store
**/*.ipynb_checkpoints
**/.mypy_cache
**/.pytest_cache
**/.ruff_cache
**/.cache
**/.vscode
**/.idea
**/.history
**/*.log
node_modules
